$dark-gray: #5a5a5a;
$light-gray: #949494;
$focus-purple: #459fbd;
$primary-color: #4f5051;
$mtg-purple: #470464;

.search-container {
    --target-size: 48px;
    --box-height: var(--target-size);
    --border-width: 2px;
    --border-radius: 24px;
    --icon-size: calc(var(--box-height) / 2);
    --side-margin: calc(var(--border-radius) / 2);
    --icon-vertical-margin: calc((var(--box-height) - var(--icon-size)) / 2);

    display: flex;
    position: relative;     
    height: var(--box-height);
    width: 100%;



    .search-input {
        background-color: $primary-color;
        border: var(--border-width) solid transparent;
        border-radius: var(--border-radius);
        height: 100%;
        width: 100%;
        padding-left: calc(var(--side-margin) + var(--icon-size) + 4px);
        padding-right: var(--side-margin);
        font-family: 'Noto Sans', Verdana, sans-serif;
        font-size: 1rem;
    }

    .search-input:focus {
        border-color: $focus-purple;
        outline: none;
    }

    .search-input:hover {
        border-color: $focus-purple;
    }
    
    .search-magnify-icon {
        fill: var($dark-gray);
        height: var(--icon-size);
        width: var(--icon-size);
        position: absolute;
        left: var(--side-margin);
        bottom: var(--icon-vertical-margin);
        color: $light-gray;

    }
}